@using System.Threading.Tasks
@using NekoApplicationWeb.ViewModels.Page.Finances
@using Newtonsoft.Json
@model List<ApplicantFinancesViewModel>


<div class="row" ng-app="app-neko" ng-controller="financesPageController as vm" ng-init="vm.initData(@JsonConvert.SerializeObject(Model))" ng-cloak>
    <form name="financesForm" class="form-horizontal" action="" method="post">
        <fieldset ng-repeat="applicantFinances in vm.applicantsFinances">
            <div ng-if="!$first" style="height: 50px;"></div>
            <div class="col-xs-12">
                <legend><span ng-bind="applicantFinances.ApplicantName"></span></legend>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-primary"></div>
            <div class="col-xs-12">
                <h4>Tekjur</h4>
            </div>
            <div class="form-group required">
                <div class="col-xs-4 control-label">
                    <label>Launatekjur eftir skatt</label> <i class="fa fa-question-circle" data-toggle="tooltip" title="Einhver lýsing"></i>
                </div>
                <div class="col-xs-8">
                    <input type="text" class="form-control" ng-model="applicantFinances.MonthlyPay.MonthlyAmount" ui-number-mask="0" required ng-change="vm.pageModified = true"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label">Aðrar tekjur</label>
                <div class="col-xs-8">
                    <div class="input-group">
                        <select class="form-control" id="otherIncomeSelect-{{applicantFinances.ApplicantSsn}}">
                            <option value="-1"></option>
                            <option value="2">Leigutekjur</option>
                            <option value="1">Meðlag</option>
                        </select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success" ng-click="vm.addOtherIncome(applicantFinances)"><i class="fa fa-plus"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div ng-repeat="otherIncome in applicantFinances.OtherIcome">
                <div class="form-group required">
                    <label class="col-xs-5 control-label" ng-bind="otherIncome.IncomeTypeString"></label>
                    <div class="col-xs-7">
                        <div class="input-group input-group-small">
                            <input class="form-control small-input" ng-model="otherIncome.MonthlyAmount" ui-number-mask="0"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" ng-click="vm.removeOtherIncome(applicantFinances.OtherIcome, otherIncome)"><i class="fa fa-times"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-10 col-xs-offset-1"><hr/>
            </div>
            <div class="col-xs-12">
                <h4>Eignir</h4>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label">Bæta við eign</label>
                <div class="col-xs-8">
                    <div class="input-group">
                        <select class="form-control" id="assetsTypeSelect-{{applicantFinances.ApplicantSsn}}">
                            <option value="-1"></option>
                            <option value="0">Fasteign</option>
                            <option value="1">Ökutæki</option>
                        </select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success" ng-click="vm.addAsset(applicantFinances)"><i class="fa fa-plus"></i></button>
                        </span>
                    </div>
                </div>
            </div>

            <div ng-repeat="asset in applicantFinances.Assets">
                <div class="form-group required" style="margin-bottom:0">
                    <div class="col-xs-5  control-label">
                        <label ng-bind="asset.AssetTypeString"></label>
                    </div>
                    <div class="col-xs-7">
                        <div class="input-group input-group-small">
                            <input class="form-control small-input" ng-model="asset.AssetNumber" placeholder="{{asset.AssetPlaceholderText}}"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" ng-click="vm.removeAsset(applicantFinances.Assets, asset)"><i class="fa fa-times"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="asset.AssetType == 0">
                    <div class="col-xs-5  control-label">
                        <label>Eign verður seld</label>
                    </div>
                    <div class="col-xs-7">
                        <div class="input-group input-group-small">
                            <input type="checkbox" class="form-control" ng-model="asset.AssetWillBeSold" />
                        </div>
                    </div>
                </div>

                
            </div>

            <div class="col-xs-10 col-xs-offset-1"><hr/>
            </div>
            <div class="col-xs-12">
                <h4>Skuldir</h4>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label">Bæta við skuld</label>
                <div class="col-xs-8">
                    <div class="input-group">
                        <select class="form-control" id="debtTypeSelect-{{applicantFinances.ApplicantSsn}}">
                            <option value="-1"></option>
                            <option value="0">Námslán</option>
                            <option value="1">Yfirdráttur</option>
                            <option value="2">Bílalán</option>
                            <option value="3">Húsnæðislán</option>
                            <option value="4">Annað</option>
                        </select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success" ng-click="vm.addDebt(applicantFinances)"><i class="fa fa-plus"></i></button>
                        </span>
                    </div>
                </div>
            </div>

            <div ng-repeat="debt in applicantFinances.Debts">
                <hr ng-if="!$first"/>
                <div class="form-group">
                    <div class="col-xs-4 control-label">
                        <label>Tegund skuldar</label>
                    </div>
                    <div class="col-xs-8">
                        <label class="labelForInput" ng-bind="debt.DebtTypeString"></label>
                    </div>
                </div>
                <div class="form-group required">
                    <div class="col-xs-4 control-label">
                        <label>Lánveitandi</label>
                    </div>
                    <div class="col-xs-8">
                        <input class="form-control" ng-model="debt.Lender" required ng-change="vm.pageModified = true"/>
                    </div>
                </div>
                <div class="form-group required">
                    <div class="col-xs-4 control-label">
                        <label>Eftirstöðvar</label>
                    </div>
                    <div class="col-xs-8">
                        <input class="form-control" ng-model="debt.LoanRemains" required ng-change="vm.pageModified = true" ui-number-mask="0"/>
                    </div>
                </div>
                <div class="form-group required">
                    <div class="col-xs-4 control-label">
                        <label>Mánaðarleg greiðslubyrði</label>
                    </div>
                    <div class="col-xs-8">
                        <input class="form-control" ng-model="debt.MonthlyPayment" required ng-change="vm.pageModified = true" ui-number-mask="0"/>
                    </div>
                </div>
                @*<div class="form-group required">
                    <div class="col-xs-4 control-label">
                        <label>Síðasti greiðsluseðill</label>
                    </div>
                    <div class="col-xs-8">
                        TODO
                    </div>
                </div>*@

                <div class="form-group required">
                    <div class="col-xs-8 col-xs-offset-4">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="vm.removeDebt(applicantFinances.Debts, debt)">Fjarlægja</button>
                    </div>
                </div>
            </div>

        </fieldset>
        <div class="col-lg-12">
            <div class="btn btn-info pull-right" ng-click="educationForm.$invalid || vm.continue()" ng-disabled="educationForm.$invalid">
                Vista og áfram <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
        </div>
    </form>
</div>