@using System.Threading.Tasks
@using Newtonsoft.Json
@model NekoApplicationWeb.ViewModels.Page.Loan.LoanViewModel

<style>
    .popover-content {
        color: black;
    }

    #nekoLoanTable, #bankLoanTable {
        margin: 0;
    }
</style>

<div class="row" ng-app="app-neko" ng-controller="loanPageController as vm" ng-init="vm.initData(@JsonConvert.SerializeObject(Model))" ng-cloak>
    <form name="loanForm" class="form-horizontal" action="" method="post">
        <fieldset>

            <div class="col-sm-12">
                <legend>Fyrirhuguð fasteignakaup</legend>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-xs-offset-2"><em>COMMENT: fasteignamati 25M, brunabótamati 23M, lóðarmati 3.5M</em></div>
            <div class="form-group required">
                <div class="col-sm-4 col-xs-offset-4 col-sm-offset-0 control-label">
                    <label>Kaupverð</label>
                </div>
                <div class="col-sm-8 col-xs-offset-4 col-sm-offset-0">
                    <input class="form-control" ng-model="vm.loanViewModel.BuyingPrice" required ng-change="vm.pageModified = true" ui-number-mask="0" />
                </div>
            </div>
            <div class="form-group required">
                <div class="col-sm-4 col-xs-offset-4 col-sm-offset-0 control-label">
                    <label>Fastanúmer eignar</label>
                </div>
                <div class="col-sm-8 col-xs-offset-4 col-sm-offset-0">
                    <input class="form-control" ng-model="vm.loanViewModel.PropertyNumber" required ng-change="vm.pageModified = true" mask="999-9999" />
                </div>
            </div>
            <div class="form-group required">
                <div class="col-sm-4 col-xs-offset-4 col-sm-offset-0 control-label">
                    <label>Eigið fé</label>
                </div>
                <div class="col-sm-8 col-xs-offset-4 col-sm-offset-0">
                    <input class="form-control" ng-model="vm.loanViewModel.OwnCapital" required ng-change="vm.pageModified = true" ui-number-mask="0" />
                </div>
            </div>
            <div class="col-xs-12">
                <legend>Lán</legend>
            </div>


            <div class="col-xs-10 col-xs-offset-1" style="margin-bottom: 15px;">
                <em>Veldu þinn lánveitanda. Við setjum upp lán sem uppfylla allar kröfur og lágmarkar greiðslubyrði</em>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-xs-offset-4 col-sm-offset-0 control-label">Lánveitandi</label>
                <div class="col-sm-8 col-xs-offset-4 col-sm-offset-0">
                    <div class="input-group">
                        <select id="lenderSelect" class="form-control" ng-model="vm.loanViewModel.Lender"
                                ng-disabled="vm.loanViewModel.BuyingPrice == 0 || vm.loanViewModel.BuyingPrice == ''
                                            || vm.loanViewModel.OwnCapital == '' || vm.loanViewModel.OwnCapital == 0"
                                ng-change="vm.lenderChange()">
                            <option ng-repeat="lender in vm.lenders | orderBy: 'name'" value="{{lender.id}}">{{lender.name}}</option>
                        </select>
                        <span class="input-group-btn">
                            <a href="" class="btn btn-success" ng-click="vm.lenderChange()"
                               ng-disabled="!vm.loanViewModel.lenderId || vm.loanViewModel.BuyingPrice == 0 || vm.loanViewModel.BuyingPrice == ''
                                            || vm.loanViewModel.OwnCapital == '' || vm.loanViewModel.OwnCapital == 0"><i class="fa fa-refresh"></i></a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-xs-10 col-xs-offset-1">
                <ul>
                    <li><em>Leyfa option að velja lánstíma efstu 2 lána</em></li>
                    <li><em>Hinir 2 bankarnir leyfa range á 3 láni 15-25</em></li>
                    <li><em>Litur bankanns og icon bankans</em></li>
                </ul>

            </div>



            <div class="col-xs-10 col-xs-offset-1">
                <div id="toMuchOwnCapitalId" class="alert alert-warning hidden" role="alert">
                    Þú átt meira en 15% af útborgun og þarft því ekki Neko lán.
                    Neko lán eru dýrari en venjuleg bankalán og því eru þau aðeins tekinn ef annað býðst ekki
                </div>
            </div>

            <div class="col-xs-10 col-xs-offset-1" ng-show="vm.showBankLoansSection">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Lán frá Landsbankanum</div>
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-sm" id="bankLoanTable">
                                <thead>
                                    <tr>
                                        <th class="text-center">Upphæð</th>
                                        <th class="text-center">Verðtryggt</th>
                                        <th class="text-center">Vaxtaform</th>
                                        <th class="text-center">Vextir</th>
                                        <th class="text-center">Afborganir</th>
                                        <th class="text-center">Lánstími</th>
                                        <th class="text-center">Greiðslubyrði</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="bankLoan in vm.loanViewModel.BankLoans | filter: {isNekoLoan : false}">
                                        <th class="text-right">{{bankLoan.principal | number}} kr</th>
                                        <th class="text-center">{{bankLoan.interestInfo.indexed ? 'Já': 'Nei'}}</th>
                                        <th class="text-center">{{bankLoan.interestsFormString}}</th>
                                        <th class="text-center">{{bankLoan.interestInfo.interestPercentage}} %</th>
                                        <th>{{bankLoan.paymentTypeString}}</th>
                                        <th class="text-center">{{bankLoan.loanDurationYears}} ár</th>
                                        <th class="text-right">{{bankLoan.monthlyPayment | number}} kr</th>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th class="text-right">{{vm.loansTotalPrincipal(false) | number}} kr</th>
                                        <th class="text-center"></th>
                                        <th class="text-center"></th>
                                        <th class="text-center"></th>
                                        <th class="text-center"></th>
                                        <th class="text-center"></th>
                                        <th class="text-right">{{vm.loansTotalMonthlyPayments(false) | number}} kr</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xs-10 col-xs-offset-1" ng-show="vm.showBankLoansSection">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Lán frá Neko</div><em>Setja gula neko litinn og neko icon h'erna</em>

                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-sm" id="nekoLoanTable">
                                <thead>
                                    <tr>
                                        <th class="text-center">Upphæð</th>
                                        <th class="text-center">Vaxtaform</th>
                                        <th class="text-center">Vextir</th>
                                        <th class="text-center">Afborganir</th>
                                        <th class="text-center">Lánstími</th>
                                        <th class="text-center">Greiðslubyrði</th>
                                        <th class="text-center">Greiðslubyrði e. 5 ár</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="bankLoan in vm.loanViewModel.BankLoans | filter: {isNekoLoan : true}">
                                        <th class="text-right">{{bankLoan.principal | number}} kr</th>
                                        <th class="text-center">{{bankLoan.interestsFormString}}</th>
                                        <th class="text-center">{{bankLoan.interestInfo.interestPercentage}} %</th>
                                        <th>{{bankLoan.paymentTypeString}}</th>
                                        <th class="text-center">{{bankLoan.loanDurationYears}} ár</th>
                                        <th class="text-right">{{bankLoan.monthlyPayment | number}} kr</th>
                                        <th class="text-right">{{bankLoan.monthlyPayment | number}} kr</th>
                                    </tr>
                                </tbody>
                                @*<tfoot>
                                    <tr>
                                        <th class="text-right">{{vm.loansTotalPrincipal(true) | number}} kr</th>
                                        <th class="text-center"></th>
                                        <th class="text-center"></th>
                                        <th class="text-center"></th>
                                        <th class="text-center"></th>
                                        <th class="text-center"></th>
                                        <th class="text-right">{{vm.loansTotalMonthlyPayments(true) | number}} kr</th>
                                    </tr>
                                </tfoot>*@
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-10 col-xs-offset-1" ng-show="vm.showBankLoansSection">
                Ákvað að prófa aðra útgáfu af upplýsingum um greiðslubyrðarhlutfall, skuldahlutfall og veðsetningarhlutfall. Held að það sé
                vont að koma 3x pie graphs fyrir á þessari síðu
                <br />

                <strong>Önnur vandamál/ákvarðanir</strong>
                <ul>
                    <li>Gögn fyrir sumar af þessum tölum eru fengin frá öðrum síðum sem getur verið að sé ekki búið að fylla út</li>
                    <ul>
                        <li>Lita svæðið gult/orange og segja að tölur vanti fyrr úr</li>
                    </ul>
                    <li>Hvaða gögn á ég að vista frá þessari síðu ? Nóg að vista lánastofnun eða þarf að vista öll lánin líka ?</li>
                    <ul>
                        <li>Ekki lán sjálf. Lánveitanda og lánstíma</li>
                    </ul>
                </ul>
            </div>
            <div ng-show="vm.showBankLoansSection">
                <div class="col-sm-4 col-xs-12">
                    <div ng-class="vm.greidslubyrdarhlutfall_Ok ? 'panel panel-success' : 'panel panel-primary'">
                        <div class="panel-heading">
                            <div class="panel-title text-center">
                                Greiðslubyrðarhlutfall
                                <i class="fa fa-question-circle pull-right" data-toggle="popover" data-html="true" data-placement="top" title="Greiðslubyrðarhlutfall" data-content="Hér verður lýsing og jafnvel líka graf"></i>
                            </div>
                        </div>
                        <div class="panel-body">
                            <h1 class="text-center">{{vm.greidslubyrdarhlutfall}}%</h1>
                            <h4 class="text-center">{{vm.greidslubyrdarhlutfall_Ok ? 'Vel gert' : 'Of há greiðslubyrði'}}</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div ng-class="vm.skuldahlutfall_Ok ? 'panel panel-success' : 'panel panel-primary'">
                        <div class="panel-heading">
                            <div class="panel-title text-center">Greiðslugeta <i class="fa fa-question-circle pull-right" data-toggle="popover" data-html="true" data-placement="top" title="Greiðslugeta" data-content="Hér verður lýsing og jafnvel líka graf"></i></div>
                        </div>
                        <div class="panel-body">
                            Þessi greiðslugeta verður talan eftir 5 ár
                            <h1 class="text-center">{{vm.skuldahlutfall}} kr</h1>
                            <h4 class="text-center">{{vm.skuldahlutfall_Ok ? 'Vel gert' : 'Þú skuldar of mikið'}}</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="panel-title text-center">Veðsetningarhlutfall <i class="fa fa-question-circle pull-right" data-toggle="popover" data-html="true" data-placement="top" title="Veðsetningarhlutfall" data-content="Hér verður lýsing og jafnvel líka graf"></i></div>
                        </div>
                        <div class="panel-body">
                            <h1 class="text-center">{{vm.vedsetningarhlutfall}}%</h1>
                            <h4>&nbsp;</h4>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="col-lg-12">
            <div class="btn btn-info pull-right" ng-click="loanForm.$invalid || vm.continue()" ng-disabled="loanForm.$invalid">
                Vista og áfram <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
        </div>
    </form>
</div>