@using System.Threading.Tasks
@using Newtonsoft.Json
@model NekoApplicationWeb.ViewModels.Page.Loan.LoanViewModel

<style>
    .popover-content {
        color: black;
    }

    #nekoLoanTable, #bankLoanTable {
        margin: 0;
    }

    .panel-danger {
      border-color: #f5d400;
    }
    .panel-danger > .panel-heading {
      background-color: #f5d400;
      border-color: #f5d400;
    }
    .panel-danger > .panel-heading + .panel-collapse > .panel-body {
      border-top-color: #f5d400;
    }
    .panel-danger > .panel-heading .badge {
      color: #f5d400;
    }
    .panel-danger > .panel-footer + .panel-collapse > .panel-body {
      border-bottom-color: #f5d400;
    }
    #propertyNumberAddon {
        background-color: white;
    }
</style>

<div class="row" ng-app="app-neko" ng-controller="loanPageController as vm" ng-init="vm.initData(@JsonConvert.SerializeObject(Model))" ng-cloak>
    <form name="loanForm" class="form-horizontal" action="" method="post">
        <fieldset>

            <div class="col-sm-12">
                <legend>Fyrirhuguð fasteignakaup</legend>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group required">
                <div class="col-sm-4 col-xs-offset-4 col-sm-offset-0 control-label">
                    <label>Kaupverð</label>
                </div>
                <div class="col-sm-8 col-xs-offset-4 col-sm-offset-0">
                    <input class="form-control" ng-model="vm.loanViewModel.BuyingPrice" required ng-change="vm.pageModified = true" ui-number-mask="0" />
                </div>
            </div>
        <div id="propertyNumberFormGroup" class="form-group required">
                <div class="col-sm-4 col-xs-offset-4 col-sm-offset-0 control-label">
                    <label>Fastanúmer eignar</label> <i class="fa fa-question-circle" data-toggle="tooltip" title="Hægt að finna númerið með því að leita að eigninni á vef Þjóðskrá Íslands undir Fasteignaskrá"></i>
                </div>
                <div class="col-sm-8 col-xs-offset-4 col-sm-offset-0">
                    <div class="input-group">
                        <input id="propertyNumberInput" class="form-control" ng-model="vm.loanViewModel.PropertyNumber" required ng-change="vm.propertyNumberChanged()" mask="999-9999" placeholder="XXX-XXXX" />
                        <span id="propertyNumberAddon" class="input-group-addon">
                            <i id="propertyNumberStatusId" class="fa fa-circle" aria-hidden="true"></i>
                        </span>
                    </div>
                    

                    <div id="propertyNumberErrorMessageId" class="help-block with-errors hidden"></div>
                </div>

            
        </div>
            <div class="form-group required">
                <div class="col-sm-4 col-xs-offset-4 col-sm-offset-0 control-label">
                    <label>Eigið fé</label> <i class="fa fa-question-circle" data-toggle="tooltip" title="Hvað þú/þið ætlið að setja mikið af ykkar pening í kaupin"></i>
                </div>
                <div class="col-sm-8 col-xs-offset-4 col-sm-offset-0">
                    <input class="form-control" ng-model="vm.loanViewModel.OwnCapital" required ng-change="vm.pageModified = true" ui-number-mask="0" />
                </div>
            </div>
            <div class="col-xs-12">
                <legend>Lán</legend>
            </div>


            <div class="col-xs-10 col-xs-offset-1" style="margin-bottom: 15px;">
                <em>Veldu þinn lánveitanda. Við setjum upp lán sem uppfylla allar kröfur og lágmarkar greiðslubyrði</em>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-xs-offset-4 col-sm-offset-0 control-label">Lánveitandi</label> 
                <div class="col-sm-8 col-xs-offset-4 col-sm-offset-0">
                    <div class="input-group">
                        <select id="lenderSelect" class="form-control" ng-model="vm.loanViewModel.LenderId"
                                ng-disabled="vm.loanViewModel.BuyingPrice == 0 || vm.loanViewModel.BuyingPrice == ''
                                            || vm.loanViewModel.OwnCapital == '' || vm.loanViewModel.OwnCapital == 0"
                                ng-change="vm.lenderChange()" required>
                            <option ng-repeat="lender in vm.lenders | orderBy: 'name'" value="{{lender.Id}}">{{lender.Name}}</option>
                        </select>
                        <span class="input-group-btn">
                            <a href="" class="btn btn-success" ng-click="!vm.loanViewModel.LenderId ||
            vm.loanViewModel.BuyingPrice === 0 ||
            vm.loanViewModel.BuyingPrice === undefined || vm.lenderChange()"
                               ng-disabled="!vm.loanViewModel.LenderId ||
            vm.loanViewModel.BuyingPrice === 0 ||
            vm.loanViewModel.BuyingPrice === undefined"><i class="fa fa-refresh"></i></a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-xs-10 col-xs-offset-1">
                <div id="toMuchOwnCapitalId" class="alert alert-warning hidden" role="alert">
                    Þú átt meira en 15% af útborgun og þarft því ekki Neko lán.
                    Neko lán eru dýrari en venjuleg bankalán og því eru þau aðeins tekinn ef annað býðst ekki
                </div>
            </div>

            <div  class="col-xs-10 col-xs-offset-1">
                <div id="lenderRuleBrokenId" class="alert alert-danger hidden text-center" role="alert">

                </div>
            </div>
        <div class="col-xs-12" ng-show="vm.showBankLoansSection">

            
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Lán frá {{vm.lenderNameThagufall}}</div>
                </div>

                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-sm" id="bankLoanTable">
                            <thead>
                            <tr>
                                <th class="text-center">Upphæð</th>
                                <th class="text-center">Verðtryggt</th>
                                <th class="text-center">Vaxtaform</th>
                                <th class="text-center">Vextir</th>
                                <th class="text-center">Afborganir</th>
                                <th class="text-center">Lánstími</th>
                                <th class="text-right">Greiðslubyrði</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="bankLoan in vm.bankLoans | filter: {IsNekoLoan : false}">
                                <th class="text-right">{{bankLoan.Principal | number}} kr</th>
                                <th class="text-center">{{bankLoan.InterestEntry.Indexed ? 'Já': 'Nei'}}</th>
                                <th class="text-center">{{bankLoan.InterestsFormString}}</th>
                                <th class="text-center">{{bankLoan.InterestEntry.InterestPercentage}} %</th>
                                <th>{{bankLoan.PaymentTypeString}}</th>
                                <th class="text-center">{{bankLoan.LoanDurationYears}} ár</th>
                                <th class="text-right">{{bankLoan.MonthlyPayment | number}} kr</th>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th class="text-right">{{vm.loansTotalPrincipal(false) | number}} kr</th>
                                <th class="text-center"></th>
                                <th class="text-center"></th>
                                <th class="text-center"></th>
                                <th class="text-center"></th>
                                <th class="text-center"></th>
                                <th class="text-right">{{vm.loansTotalMonthlyPayments(false) | number}} kr</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>


            <div class="col-xs-12" ng-show="vm.showBankLoansSection">
                <div class="panel panel-danger">
                    <div class="panel-heading">

                        <img class="pull-right" height="25" src="~/images/favicon.png"/>
                        <div class="panel-title">Lán frá Neko</div>
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-sm" id="nekoLoanTable">
                                <thead>
                                    <tr>
                                        <th class="text-center">Upphæð</th>
                                        <th class="text-center">Vaxtaform</th>
                                        <th class="text-center">Vextir</th>
                                        <th class="text-center">Afborganir</th>
                                        <th class="text-center">Lánstími</th>
                                        <th class="text-center">Greiðslubyrði</th>
                                        <th class="text-right">Greiðslubyrði e. 5 ár</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="bankLoan in vm.bankLoans | filter: {IsNekoLoan : true}">
                                        <th class="text-right">{{bankLoan.Principal | number}} kr</th>
                                        <th class="text-center">{{bankLoan.InterestsFormString}}</th>
                                        <th class="text-center">{{bankLoan.InterestEntry.InterestPercentage}} %</th>
                                        <th>{{bankLoan.PaymentTypeString}}</th>
                                        <th class="text-center">{{bankLoan.LoanDurationYears}} ár</th>
                                        <th class="text-right">{{bankLoan.MonthlyPayment | number}} kr</th>
                                        <th class="text-right">{{bankLoan.MonthlyPaymentIn5Years | number}} kr</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="vm.showRatioNumbers">
                <div class="col-xs-4">
                    <div ng-class="vm.isGreidslugetaOk ? 'panel panel-success' : 'panel panel-primary'">
                        <div class="panel-heading">
                            <div class="panel-title text-center">
                                Greiðslugeta
                                <i class="fa fa-question-circle pull-right" data-toggle="tooltip" data-placement="top" 
                                   title="Hversu mikinn pening áttu eftir þegar þú ert búinn að borga af öllum lánum og lifa. Við þurfum auðvitað að giska hvað það kostar þig að 'lifa'"></i>
                            </div>
                        </div>
                        <div class="panel-body">
                            <h1 class="text-center">{{vm.greidslugeta | number}} kr</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div ng-class="vm.isGreidslubyrdarhlutfallOk ? 'panel panel-success' : 'panel panel-primary'">
                        <div class="panel-heading">
                            <div class="panel-title text-center">
                                Greiðslubyrðarhlutfall
                                <i class="fa fa-question-circle pull-right" data-toggle="tooltip" data-placement="top" title="Hversu stór hluti af tekjunum þínum fer í að borga af lánum"></i>
                            </div>
                        </div>
                        <div class="panel-body">
                            <h1 class="text-center">{{vm.greidslubyrdarhlutfall | number:1}} %</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="panel-title text-center">Veðsetningarhlutfall <i class="fa fa-question-circle pull-right" data-toggle="tooltip" data-placement="top" title="Hversu stór hluti af kaupverðinu verður skuld"></i></div>
                        </div>
                        <div class="panel-body">
                            <h1 class="text-center">{{vm.vedsetningarhlutfall | number:1}}%</h1>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="col-lg-12">
            <div class="btn btn-info pull-right" ng-click="loanForm.$invalid || !vm.propertyNumberConfirmedOk || vm.continue()" ng-disabled="loanForm.$invalid || !vm.propertyNumberConfirmedOk">
                Vista og áfram <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
        </div>
    </form>
</div>