@using System.Threading.Tasks
@using Newtonsoft.Json
@model NekoApplicationWeb.ViewModels.Page.Loan.LoanViewModel

<div class="row" ng-app="app-neko" ng-controller="loanPageController as vm" ng-init="vm.initData(@JsonConvert.SerializeObject(Model))" ng-cloak>
    <form name="loanForm" class="form-horizontal" action="" method="post">
        <fieldset>

            <div class="col-sm-12">
                <legend>Fyrirhuguð fasteignakaup</legend>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-xs-offset-2"><em>COMMENT: fasteignamati 25M, brunabótamati 23M, lóðarmati 3.5M</em></div>
            <div class="form-group required">
                <div class="col-sm-4 col-xs-offset-4 col-sm-offset-0 control-label">
                    <label>Kaupverð</label>
                </div>
                <div class="col-sm-8 col-xs-offset-4 col-sm-offset-0">
                    <input class="form-control" ng-model="vm.loanViewModel.BuyingPrice" required ng-change="vm.pageModified = true" ui-number-mask="0" />
                </div>
            </div>
            <div class="form-group required">
                <div class="col-sm-4 col-xs-offset-4 col-sm-offset-0 control-label">
                    <label>Fastanúmer eignar</label>
                </div>
                <div class="col-sm-8 col-xs-offset-4 col-sm-offset-0">
                    <input class="form-control" ng-model="vm.loanViewModel.PropertyNumber" required ng-change="vm.pageModified = true" mask="999-9999" />
                </div>
            </div>
            <div class="form-group required">
                <div class="col-sm-4 col-xs-offset-4 col-sm-offset-0 control-label">
                    <label>Eigið fé</label>
                </div>
                <div class="col-sm-8 col-xs-offset-4 col-sm-offset-0">
                    <input class="form-control" ng-model="vm.loanViewModel.OwnCapital" required ng-change="vm.pageModified = true" ui-number-mask="0" />
                </div>
            </div>
            <div class="col-xs-12">
                <legend>Lán</legend>
            </div>


            <div class="col-xs-10 col-xs-offset-1" style="margin-bottom: 15px;">
                <em>Veldu þinn lánveitanda. Við setjum upp lán sem uppfylla allar kröfur og lágmarkar greiðslubyrði þína</em>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-xs-offset-4 col-sm-offset-0 control-label">Lánveitandi</label>
                <div class="col-sm-8 col-xs-offset-4 col-sm-offset-0">
                    <div class="input-group">
                        <select id="lenderSelect" class="form-control" ng-model="vm.loanViewModel.Lender"
                                ng-disabled="vm.loanViewModel.BuyingPrice == 0 || vm.loanViewModel.BuyingPrice == ''
                                            || vm.loanViewModel.OwnCapital == '' || vm.loanViewModel.OwnCapital == 0"
                                ng-change="vm.lenderChange()">
                            <option ng-repeat="lender in vm.lenders | orderBy: 'name'" value="{{lender.id}}">{{lender.name}}</option>
                        </select>
                        <span class="input-group-btn">
                            <a href="" class="btn btn-success" ng-click="vm.lenderChange()" 
                               ng-disabled="!vm.loanViewModel.lenderId || vm.loanViewModel.BuyingPrice == 0 || vm.loanViewModel.BuyingPrice == ''
                                            || vm.loanViewModel.OwnCapital == '' || vm.loanViewModel.OwnCapital == 0"><i class="fa fa-refresh"></i></a>
                        </span>
                    </div>
                    

                </div>
            </div>


            <div class="col-xs-10 col-xs-offset-1">
                <div id="toMuchOwnCapitalId" class="alert alert-warning hidden" role="alert">
                    Þú átt meira en 15% af útborgun og þarft því ekki Neko lán.
                    Neko lán eru dýrari en venjuleg bankalán og því eru þau aðeins tekinn ef annað býðst ekki
                </div>
            </div>

            <div class="col-xs-10 col-xs-offset-1" ng-show="vm.showBankLoansSection">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Lán frá Landsbankanum</div>
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th class="text-center">Upphæð</th>
                                        <th class="text-center">Verðtryggt</th>
                                        <th class="text-center">Vaxtaform</th>
                                        <th class="text-center">Vextir</th>
                                        <th class="text-center">Afborganir</th>
                                        <th class="text-center">Lánstími</th>
                                        <th class="text-center">Greiðslubyrði</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="bankLoan in vm.loanViewModel.BankLoans | filter: {isNekoLoan : false}">
                                        <th class="text-right">{{bankLoan.principal | number}} kr</th>
                                        <th class="text-center">{{bankLoan.interestInfo.indexed ? 'Já': 'Nei'}}</th>
                                        <th class="text-center">{{bankLoan.interestsFormString}}</th>
                                        <th class="text-center">{{bankLoan.interestInfo.interestPercentage}} %</th>
                                        <th>{{bankLoan.paymentTypeString}}</th>
                                        <th class="text-center">{{bankLoan.loanDurationYears}} ár</th>
                                        <th class="text-right">{{bankLoan.monthlyPayment | number}} kr</th>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th class="text-right">{{vm.loansTotalPrincipal(false) | number}} kr</th>
                                        <th class="text-center"></th>
                                        <th class="text-center"></th>
                                        <th class="text-center"></th>
                                        <th class="text-center"></th>
                                        <th class="text-center"></th>
                                        <th class="text-right">{{vm.loansTotalMonthlyPayments(false) | number}} kr</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xs-10 col-xs-offset-1" ng-show="vm.showBankLoansSection">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="panel-title">Lán frá Neko</div>
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th class="text-center">Upphæð</th>
                                        <th class="text-center">Verðtryggt</th>
                                        <th class="text-center">Vaxtaform</th>
                                        <th class="text-center">Vextir</th>
                                        <th class="text-center">Afborganir</th>
                                        <th class="text-center">Lánstími</th>
                                        <th class="text-center">Greiðslubyrði</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="bankLoan in vm.loanViewModel.BankLoans | filter: {isNekoLoan : true}">
                                        <th class="text-right">{{bankLoan.principal | number}} kr</th>
                                        <th class="text-center">{{bankLoan.interestInfo.indexed ? 'Já': 'Nei'}}</th>
                                        <th class="text-center">{{bankLoan.interestsFormString}}</th>
                                        <th class="text-center">{{bankLoan.interestInfo.interestPercentage}} %</th>
                                        <th>{{bankLoan.paymentTypeString}}</th>
                                        <th class="text-center">{{bankLoan.loanDurationYears}} ár</th>
                                        <th class="text-right">{{bankLoan.monthlyPayment | number}} kr</th>
                                    </tr>
                                </tbody>
                                @*<tfoot>
                                    <tr>
                                        <th class="text-right">{{vm.loansTotalPrincipal(true) | number}} kr</th>
                                        <th class="text-center"></th>
                                        <th class="text-center"></th>
                                        <th class="text-center"></th>
                                        <th class="text-center"></th>
                                        <th class="text-center"></th>
                                        <th class="text-right">{{vm.loansTotalMonthlyPayments(true) | number}} kr</th>
                                    </tr>
                                </tfoot>*@
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-10 col-xs-offset-1" ng-show="vm.showBankLoansSection">
                Hvaða gögn á ég að vista frá þessari síðu ? Nóg að vista lánastofnun eða þarf að vista öll lánin líka ?

                <br />
                <br />
                <br/>
            </div>

            <div class="col-xs-10 col-xs-offset-1" ng-show="vm.showBankLoansSection">
                Hérna koma upplýsingar um greiðslubyrðarhlutfall, skuldahlutfall og veðsetningarhlutfall.
                <ul>
                    <li>Erfitt að koma 3x kökuritum fyrir smekklega</li>
                    <li>Gögn fyrir kökuritin eru fengin frá öðrum tabs sem getur verið að sé ekki búið að fylla út</li>
                    <ul>
                        <li>Held ég þurfi að banna það að hoppa áfram í umsókninni svo öll gögn séu til staðar fyrir þessar lykil tölur</li>
                    </ul>
                </ul>
            </div>
        </fieldset>
        <div class="col-lg-12">
            <div class="btn btn-info pull-right" ng-click="vm.continue()" ng-disabled="loanForm.$invalid">
                Vista og áfram <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
        </div>
    </form>
</div>