
@using System.Threading.Tasks
@using NekoApplicationWeb.ViewModels.Page.Personal
@using Newtonsoft.Json
@model List<ApplicantViewModel>


<div class="row" ng-app="app-neko" ng-controller="personalPageController as vm" ng-init="vm.initData(@JsonConvert.SerializeObject(@Model))" ng-cloak>
    <form name="personForm" class="form-horizontal" action="" method="post">
        <fieldset ng-repeat="applicant in vm.applicants">
            <div class="col-xs-12">
                <legend>
                    <span ng-bind="applicant.Legend"></span>
                    <span>&nbsp;</span>
                    <span ng-show="!$first"><a href="#" ng-click="vm.removeApplicant(applicant)"><i class="fa fa-times" style="color: red;"></i></a></span>
                </legend>
            </div>
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div>
                @*<div class="col-xs-offset-4 col-xs-8">
                    <span class="text-danger" ng-show="personForm['ssn_' + $index].$touched && personForm['ssn_' + $index].$invalid">Verður að fylla</span>
                </div>*@
                <div class="form-group" ng-if="$first">
                    <label class="col-xs-4 control-label">Kennitala</label>
                    <div class="col-xs-8">
                        <input name="ssn_{{$index}}" class="form-control ssn" ng-model="applicant.Ssn" disabled required />
                    </div>
                </div>
                <div class="form-group required" ng-if="!$first">
                    <label class="col-xs-4 control-label">Kennitala</label>
                    <div class="col-xs-8">
                        <input name="ssn_{{$index}}" class="form-control ssn" ng-model="applicant.Ssn" required mask="391299-9999" ng-change="vm.pageModified = true"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Netfang</label>
                <div class="col-xs-8">
                    <input class="form-control" ng-model="applicant.Name" disabled/>
                </div>
            </div>
            <div>
                <div class="form-group" ng-if="$first">
                    <label class="col-xs-4 control-label">Netfang</label>
                    <div class="col-xs-8">
                        <input type="email" class="form-control" ng-model="applicant.Email" disabled required/>
                    </div>
                </div>
                <div class="form-group required" ng-if="!$first">
                    <label class="col-xs-4 control-label">Netfang</label>
                    <div class="col-xs-8">
                        <input type="email" class="form-control" ng-model="applicant.Email" required ng-change="vm.pageModified = true"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label">Facebook <i class="fa fa-facebook-square" aria-hidden="true"></i></label>
                <div class="col-xs-8">
                    <input class="form-control" ng-model="applicant.FacebookPath" ng-change="vm.pageModified = true"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Twitter <i class="fa fa-twitter-square" aria-hidden="true"></i></label>
                <div class="col-xs-8">
                    <input class="form-control" ng-model="applicant.TwitterPath" ng-change="vm.pageModified = true"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label">LinkedIn <i class="fa fa-linkedin-square" aria-hidden="true"></i></label>
                <div class="col-xs-8">
                    <input class="form-control" ng-model="applicant.LinkedInPath" ng-change="vm.pageModified = true" />
                </div>
            </div>
        </fieldset>
        <div class="col-xs-offset-4 col-xs-8">
            <div class="btn btn-success btn-sm" ng-click="vm.addApplicant()">
                <i class="fa fa-plus"></i> Bæta við umsækjanda
            </div>
        </div>
    </form>
    <div class="col-xs-12">
        <button class="btn btn-info pull-right" ng-click="vm.continue()" ng-disabled="personForm.$invalid">
            Vista og áfram <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
    </div>
</div>

