@using Newtonsoft.Json
@model NekoApplicationWeb.ViewModels.Page.Start.StartPageViewModel

<div ng-app="app-neko" ng-controller="startPageController as vm" ng-init="vm.initData(@JsonConvert.SerializeObject(Model))">
<h2>Getur verið að þessi síða sé óþörf ? Hvað með að hafa forsíðu á neko.is aðalsíðunni þaðan sem hægt er að logga sig inn í gegnum Island.is ?</h2>

    <a asp-controller="Page" asp-action="Personal" class="btn btn-info pull-right">Byrja <i class="fa fa-arrow-right" aria-hidden="true"></i></a>


    @{ await Html.RenderPartialAsync("ConfirmEulaModalPartial"); }

</div>


