@using Newtonsoft.Json
@model NekoApplicationWeb.ViewModels.Page.Start.StartPageViewModel

<div  ng-app="app-neko" ng-controller="indexPageController as vm" ng-init="vm.initData(@JsonConvert.SerializeObject(Model))">
    <p>Hérna verða almennar upplýsingar eins og hvaða skjöl þarf að hafa til taks ofl</p>
    <br />
    <p>Pælingar:</p>
    <ul>
        <li>Spurning hvernig eigi að vera hægt að komast aftur á þessa síðu ?</li>
    </ul>


    <a asp-controller="Page" asp-action="Personal" class="btn btn-info pull-right">Byrja <i class="fa fa-arrow-right" aria-hidden="true"></i></a>


    <div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="Notendaskilmálar" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Notendaskilmálar</h3>
                </div>
                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, veniam numquam has te. No suas nonumes recusabo mea, est ut graeci definitiones. His ne melius vituperata scriptorem, cum paulo copiosae conclusionemque at. Facer inermis ius in, ad brute nominati referrentur vis. Dicat erant sit ex. Phaedrum imperdiet scribentur vix no, ad latine similique forensibus vel.</p>
                    <p>Dolore populo vivendum vis eu, mei quaestio liberavisse ex. Electram necessitatibus ut vel, quo at probatus oportere, molestie conclusionemque pri cu. Brute augue tincidunt vim id, ne munere fierent rationibus mei. Ut pro volutpat praesent qualisque, an iisque scripta intellegebat eam.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="agreeButton" ng-click="vm.agreeButtonClicked()">Ég samþykki</button>
                    <button type="button" class="btn btn-default" id="disagreeButton" ng-click="vm.notAgreeButtonClicked()">Ég samþykki ekki</button>
                </div>
            </div>
        </div>
    </div>
</div>


