@model NekoApplicationWeb.ViewModels.Page.Summary.SummaryPageViewModel

@foreach (var item in Model.ListOfErrorMessage)
{
    <div class="col-xs-10 col-xs-offset-1">
        <div class="alert alert-danger text-center" role="alert">
            @item
        </div>
    </div>
}

@if (Model.ListOfErrorMessage.Count == 0)
{
    <div class="alert alert-success text-center" role="alert">
        Allt lítur vel út hjá þér !
    </div>
}

<form asp-controller="Page" asp-action="SaekjaUm" method="post" class="form-horizontal" role="form">
    @if (Model.ListOfErrorMessage.Count == 0)
    {
        <button type="submit" class="btn btn-lg btn-success center-block">Sækja um</button>
    }
    else
    {
        <button type="submit" class="btn btn-lg btn-success center-block disabled">Sækja um</button>
    }
</form>
