@model string
@{
    var javascriptInlucdePath = $"~/js/{Model}.js";
}


<div class="row">
    <div class="col-sm-12 col-md-9">
        <h1>@ViewData["ContentHeader"]</h1>
    </div>
    <div class="hidden-sm col-md-2 col-md-offset-1">
        <span>EINHVERN TEXTA HINGAÐ?</span>
        <div class="progress">
            <div id="pillProgressBar" class="progress-bar progress-bar-success"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                @* Renders the page content *@
                @{ await Html.RenderPartialAsync(Model, ViewData["vm"]); }
            </div>
        </div>
    </div>
    @{ await Html.RenderPartialAsync("RigthNavPillsPartial"); }

</div>

@section Scripts{
    
    <script src="@javascriptInlucdePath"></script>
}
