@using Newtonsoft.Json

<div ng-app="app-neko" ng-controller="confirmEulaController as vm" ng-init="vm.initData(@JsonConvert.SerializeObject(Model.EulaUser))">
    <div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="Notendaskilmálar" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Notendaskilmálar - {{vm.EulaUser.UserName}}</h3>
                </div>
                <div class="modal-body">
                    <p>
                        Ég undirrituð/-aður samþykki hér með og heimila Neko ehf. (hér eftir “félagið”), kt. XXYYZZZ-QQQQ, að afla upplýsinga um skuldbindingar
                        mínar hjá viðskiptabönkum, sparisjóðum, greiðslukortafyrirtækjum, Íbúðalánasjóði, lífeyrissjóðum, Lánasjóði íslenskra námsmanna, skattayfirvöldum
                        og öðrum þeim fyrirtækjum og stofnunum sem hafa upplýsingar um fjárhagsmálefni mín, þ.m.t. skuldastöðuyfirlit frá Creditinfo og upplýsingar um
                        það hvort ég hafi sótt um opinber úrræði hjá Umboðsmanni skuldara. Heimilt er að afla allra ofangreindra upplýsinga með rafrænum hætti.
                        Er þá átt við skuldir sem ég hef stofnað til og þær skuldir sem ég hef gengist í ábyrgð fyrir, hvort heldur þær eru eign viðkomandi fjármálafyrirtækis
                        eða eru þar til innheimtu.
                    </p>

                    <p>
                        Ég heimila jafnframt að aflað sé upplýsinga frá skattayfirvöldum, um launatekjur úr staðgreiðsluskrá og síðasta skattframtal. Heimilt er að afla
                        allra ofangreindra upplýsinga með rafrænum hætti. Upplýsingarnar eru notaðar við vinnslu á lánshæfis og/eða greiðslumati viðskiptavinar og mun Neko
                        ehf. taka við upplýsingunum og varðveita þær með öðrum upplýsingum mínum hjá félaginu.
                    </p>

                    <p>
                        Samþykki þetta veitir félaginu einnig heimild til að sækja upplýsingar um eignastöðu mína/félagsins, þ.e. fasteigna- og ökutækjaeign sem og
                        áhættumat (lánshæfismat) mitt til Creditinfo Lánstrausts hf., eða sambærilegs aðila, sem á hverjum tíma telst ábyrgðaraðili umræddra gagnagrunna
                        skv. 4. tl. 1. mgr. 2. gr. laga nr. 77/2000. Heimilt er að afla allra ofangreindra upplýsinga með rafrænum hætti. Framangreint er einkum gert
                        áður en ákvörðun er tekin um lánafyrirgreiðslu og á meðan lánsviðskipti aðila eru fyrir hendi, enda byggi notkun upplýsinganna og áhættumatsins
                        ætíð á lögvörðum hagsmunum félagsins. Áhættumatið spáir fyrir um líkur á alvarlegum vanskilum í framtíðinni (allajafna næstu 12 mánuði) og
                        byggir á upplýsingum sem Creditinfo býr yfir, s.s. upplýsingum í vanskilaskrá, hlutafélagaskrá, skattskrá, upplýsingum um uppflettingar í
                        skrám Creditinfo, o.fl. Áhættumatið byggir á samkeyrslu gagna og getur innihaldið sögulegar upplýsingar, s.s. um þróun vanskila og áhættumats.
                    </p>

                    <p>
                        Með undirritun sinni heimilar viðskiptavinur félaginu að gera reikning til viðskiptavinar fyrir kostnaði vegna öflunar ofangreindra gagna samkvæmt
                        verðskrá félagsins hverju sinni. Verðskrá bankans er aðgengilega á vef félagsins, www.neko.is
                    </p>

                    <p>
                        Heimild þessi gefur félaginu rétt til að kalla eftir ofangreindum upplýsingum á meðan lánsviðskipti eru í gangi milli viðskiptavinar og þess félags innan
                        Neko samstæðunnar sem veitir lán til viðskiptavinar nema heimildin sé afturkölluð skriflega af honum.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="agreeButton" ng-click="vm.agreeButtonClicked()">Ég samþykki</button>
                    <button type="button" class="btn btn-primary" id="disagreeButton" ng-click="vm.notAgreeButtonClicked()">Ég samþykki ekki</button>
                </div>
            </div>
        </div>
    </div>
</div>