@using NekoApplicationWeb.Services
@inject CompletionService CompletionService


<div class="hidden-sm hidden-md col-lg-2 col-lg-offset-1">
    <div id="selectedNavPillId" class="hidden" selectedNavPillId="@ViewData["selectedNavPillId"]"></div>
    <div class="tabbable">
        <ul class="nav nav-pills nav-stacked">
            <li id="navPillApplicant"><a asp-controller="Page" asp-action="Personal">Umsækjendur <i class="fa fa-@(CompletionService.PersonalCompleted() ? "check" : "minus")-circle pull-right"></i></a></li>
            <li id="navPillEducation"><a asp-controller="Page" asp-action="Education">Menntun <i class="fa fa-@(CompletionService.EducationCompleted() ? "check" : "minus")-circle pull-right"></i></a></li>
            <li id="navPillEmployment"><a asp-controller="Page" asp-action="Employment">Starfsferill <i class="fa fa-@(CompletionService.EmploymentCompleted() ? "check" : "minus")-circle pull-right"></i></a></li>
            <li id="navPillFinances"><a asp-controller="Page" asp-action="Finances">Fjármál <i class="fa fa-@(CompletionService.FinancesCompleted() ? "check" : "minus")-circle pull-right"></i></a></li>
            <li id="navPillLoan"><a asp-controller="Page" asp-action="Loan">Lán <i class="fa fa-@(CompletionService.LoanCompleted() ? "check" : "minus")-circle pull-right"></i></a></li>
            <li id="navPillDocuments"><a asp-controller="Page" asp-action="Documents">Fylgiskjöl <i class="fa fa-@(CompletionService.DocumentsCompleted() ? "check" : "minus")-circle pull-right"></i></a></li>
            <li id="navPillSummary"><a asp-controller="Page" asp-action="Summary">Samantekt</a></li>
        </ul>
    </div>
</div>