@using NekoApplicationWeb.ViewModels.Account
@model NekoApplicationWeb.ViewModels.Account.CreateApplicationViewModel

<style>
    .input-group {
        margin-bottom: 10px;
    }

    .input-group-addon > .fa {
        width: 15px;
    }
</style>

<div class="row">
    <div class="col-md-6">
        <h1>Ný umsókn</h1>
        <p>Hentu inn upplýsinum hérna við hliðiná og smelltu á Nýskrá til að hefja umsóknina þína</p>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Upplýsingar um umsækjanda</div>
            </div>
            <div class="panel-body">
                <form asp-controller="Account" asp-action="CreateApplication" method="post" class="form-horizontal" role="form">
                    <fieldset>
                        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                        <span asp-validation-for="Ssn" class="text-danger col-md-10 col-md-offset-2"></span>
                        <div class="input-group col-md-10 col-md-offset-2">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input asp-for="Ssn" class="form-control" placeholder="Kennitala"/>
                        </div>
                        <span asp-validation-for="Email" class="text-danger col-md-10 col-md-offset-2"></span>
                        <div class="input-group col-md-10 col-md-offset-2">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input asp-for="Email" class="form-control" placeholder="Netfang"/>
                        </div>
                        <span asp-validation-for="Password" class="text-danger col-md-10 col-md-offset-2"></span>
                        <div class="input-group col-md-10 col-md-offset-2">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input asp-for="Password" class="form-control" placeholder="Lykilorð"/>
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger col-md-10 col-md-offset-2"></span>
                        <div class="input-group col-md-10 col-md-offset-2">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Staðfesta lykilorð" />
                        </div>
                        <div class="col-md-10 col-md-offset-2">
                            <button type="submit" class="btn btn-success">Nýskrá</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/startPage.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
