<p>Hérna verða almennar upplýsingar eins og hvaða skjöl þarf að hafa til taks ofl</p>
<br/>
<p>Pælingar:</p>
<ul>
    <li>Spurning hvernig eigi að vera hægt að komast aftur á þessa síðu ?</li>
</ul>


<a asp-controller="Home" asp-action="Personal" class="btn btn-info pull-right">Byrja <i class="fa fa-arrow-right" aria-hidden="true"></i></a>