<form class="form-horizontal">
    <fieldset>
        <legend>Lán</legend>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div>
    </fieldset>
</form>
<a asp-controller="Home" asp-action="Finances" class="btn btn-success pull-left">Til baka <i class="fa fa-arrow-left" aria-hidden="true"></i></a>
<a asp-controller="Home" asp-action="Summary" class="btn btn-success pull-right">Áfram <i class="fa fa-arrow-right" aria-hidden="true"></i></a>