@model NekoApplicationWeb.ViewModels.PersonalViewModel

<form class="form-horizontal" action="" method="post">
    <fieldset>
        <legend>Umsækjandi</legend>

        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Ssn" class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
                <input asp-for="Ssn" class="form-control"/>
                <span asp-validation-for="Ssn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
                <input asp-for="Name" class="form-control" disabled/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <legend>Maki</legend>
        <div class="form-group">
            <label asp-for="SsnSpouse" class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
                <input asp-for="SsnSpouse" class="form-control" />
                <span asp-validation-for="SsnSpouse" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NameSpouse" class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
                <input asp-for="NameSpouse" class="form-control" disabled/>
                <span asp-validation-for="NameSpouse" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmailSpouse" class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
                <input asp-for="EmailSpouse" class="form-control" />
                <span asp-validation-for="EmailSpouse" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-info pull-left" formaction="@Url.Action("PersonalBackwards", "Home")"><i class="fa fa-arrow-left" aria-hidden="true"></i> Til baka</button>
        <button type="submit" class="btn btn-info pull-right" formaction="@Url.Action("PersonalForward", "Home")">Áfram <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    </fieldset>
</form>
@section Scripts {
    <script src="~/js/Personal.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
