<form class="form-horizontal" action="" method="post">
    <fieldset>
        <legend>Ekki ákveðið hvað kemur hérna</legend>
        
        <div class="col-lg-12">
            <button type="submit" class="btn btn-info pull-left" formaction="@Url.Action("SummaryBackwards", "Home")"><i class="fa fa-arrow-left" aria-hidden="true"></i> Til baka</button>
        </div>
    </fieldset>
</form>
